---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div id="viewport" >
		<div id="world" >
		</div>
	</div>

	<script>

	function randomInteger(min, max) {
		var rand = min + Math.random() * (max + 1 - min);
		rand = Math.floor(rand);
		return rand;
	}

	var layers = [],
		objects = [],

		world = document.getElementById( 'world' ),
		viewport = document.getElementById( 'viewport' ),

		d = 0,
		p = 400,
		worldXAngle = 0,
		worldYAngle = 0;

	viewport.style.webkitPerspective = p;
	viewport.style.MozPerspective = p;
	viewport.style.oPerspective = p;

	var number = 1;
	generate();
	
	function createCloud() {

		var div = document.createElement( 'div'  );
		div.className = 'cloudBase-'+number+'';
		number++;
		var z = randomInteger(150, 200);
	
		var t = 'translateZ( ' + z + 'px )';
		div.style.webkitTransform = t;
		div.style.MozTransform = t;
		div.style.oTransform = t;
		world.appendChild( div );
		let cloudsRandom = Math.round( Math.random() * 5 );
		console.log(cloudsRandom + 5);
		for( var j = 0; j < 10; j++ ) {
			var cloud = document.createElement( 'img' );
			cloud.style.opacity = 0;
			var r = Math.random();
			var src = './img/cloud.png';
			( function( img ) { img.addEventListener( 'load', function() {
				img.style.opacity = .3;
			} ) } )( cloud );
			cloud.setAttribute( 'src', src );
			cloud.className = 'cloudLayer';

			var x = randomInteger(0, 700);
			var y = randomInteger(-150, 150);
			var z = 100 - ( Math.random() * 200 );
			var a = Math.random() * 360;
			var s = 0.25 + Math.random() * (1 - 0.25);
			x *= .2; y *= .2;
			console.log(s);
			cloud.data = {
				x: x,
				y: y,
				z: z,
				a: a,
				s: s,
				speed: .1 * Math.random()
			};
			var t = 'translateX( ' + x + 'px ) translateY( ' + y + 'px ) translateZ( ' + z + 'px ) rotateZ( ' + a + 'deg )';
			cloud.style.webkitTransform = t;
			cloud.style.MozTransform = t;
			cloud.style.oTransform = t;

			div.appendChild( cloud );
			layers.push( cloud );
		}

		return div;
	}

	function generate() {

		objects = [];

		if ( world.hasChildNodes() ) {
			while ( world.childNodes.length >= 1 ) {
				world.removeChild( world.firstChild );
			}
		}

		for( var j = 0; j < 16; j++ ) {
			objects.push( createCloud() );
		}

	}

	function update (){

		for( var j = 0; j < layers.length; j++ ) {
			var layer = layers[ j ];
			layer.data.a += layer.data.speed;
			var t = 'translateX( ' + layer.data.x + 'px ) translateY( ' + layer.data.y + 'px ) translateZ( ' + layer.data.z + 'px ) rotateY( ' + ( - worldYAngle ) + 'deg ) rotateX( ' + ( - worldXAngle ) + 'deg ) rotateZ( ' + layer.data.a + 'deg ) scale( ' + layer.data.s + ')';
			layer.style.webkitTransform = t;
			layer.style.MozTransform = t;
			layer.style.oTransform = t;
		}
		requestAnimationFrame( update );
	}

	update();

	</script>

{% endblock %}
